<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.6"?><target name="brerp.kanban-190130" sequenceNumber="01">
<repositories>
    <repository>
        <id>brerp</id> 
        <url>file:${workspace_loc}/org.idempiere.p2/target/repository/plugins</url>
        <layout>p2</layout>
    </repository>
</repositories>
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.adempiere.base.feature.feature.group" version='0.0.0'/>
			<unit id="org.adempiere.payment.processor.feature.feature.group" version='0.0.0'/>
			<unit id="org.adempiere.pipo.feature.feature.group" version="0.0.0"/>
			<unit id="org.adempiere.replication.feature.feature.group" version="0.0.0"/>
			<unit id="org.adempiere.replication.server.feature.feature.group" version="0.0.0"/>
			<unit id="org.adempiere.report.jasper.feature.feature.group" version="0.0.0"/>
			<unit id="org.adempiere.server.feature.feature.group" version="0.0.0"/>
			<unit id="org.adempiere.ui.zk.feature.feature.group" version="0.0.0"/>
			<unit id="org.compiere.db.provider.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.idempiere.eclipse.platform.feature.feature.group" version="0.0.0"/>
			<unit id="org.idempiere.equinox.p2.director.feature.feature.group" version="0.0.0"/>
			<unit id="org.idempiere.felix.webconsole.feature.feature.group" version="0.0.0"/>
			<unit id="org.idempiere.hazelcast.service.feature.feature.group" version="0.0.0"/>
			<unit id="org.idempiere.zk.feature.feature.group" version="0.0.0"/>
			<repository location="file:../brerp/org.idempiere.p2/target/repository/"/>
		</location>
	</locations>
</target>
